body,ul,li,ol,img,a,i,input,form,h1,h2,h3,h4,h5,h6,p,b,dl,dt,dd,td,th,pre,span{
    padding:0;
    margin:0;
    list-style:none;
    border:0;
    font-weight:normal;
    text-decoration:none;
    color:black;
}

body{
    background:url(../img/bg.jpg);
    font-family:"微软雅黑";
    font-size: 12px;
    line-height: 22px;
    color: #555;
}
.clearfix{
	width:998px;
	overflow:hidden;
	margin:0 auto;

}
.top_label{
	height:40px;
	width:290px;
	background:url(../img/arrow.png) no-repeat left center;
    float:right;
  padding-right:40px; 
}
.top_label a{
	color:white;
	font-size: 13px;
    line-height:40px;
    padding-left:19px;
    padding-right:10px;
}
.top_label .language{
	padding: 0 10px;
}
.head{
	width:936px;
	/* height:534px; */
	margin:0 auto;
	padding:0 31px;
	float:left;
	background:url(../img/conbg.png)repeat-y;
}
.head .logo{
	width:250px;
	height:79px;
	margin-top:20px;
	float:left;
	padding-left:15px;

}
.list{
	width:440px;
	height:24px;
	/* background:red; */
	float:right;
	/* text-align:center; */
	margin-top:40px;
	padding-right: 16px;
}
.list ul{
	float:left;
	width:290px;
	height:26px;
	/* background:yellow; */
}
.list ul li{
	text-align:center;
	height:26px;
	float:left;
}
.list ul li a{
	height:22px;
	line-height:22px;
	padding:0 0 0 18px;
	float:left;
	text-align:center;
	display:block;
	font-size:15px;
}
.seach-form{
	width:128px;
	height:24px;
	float:right;
	padding-right:4px;
	padding-top:2px;
	background:url(../img/searchbg.jpg)no-repeat left;

} 
.seach-form .submit{
	width:20px;
	height:23px;
	float:right;
	background:url(../img/search.jpg)no-repeat left center;
}
.seach-form .say{
	width:90px;
	height:20px;
	padding:2px 0 0 7px;
	line-height:20px;
	color:#8d8d8d;
	float:left;
	background:none;
}
.menu{
	width:930px;
	height:53px;
	float:left;
	position:absolute;
	left:0;
	top:0;
	/* background:white; */
}
.menu .yiji{
	width:98%;
	height:37px;
	margin-top: 13px;
	float:left;
	padding-left:18px;
	
}
.menu li{
	
	height:37px;
	float:left;
	position:relative;
	z-index:1;
	width:180px;
	
}
.menu .n1 a{
	background:url(../img/menu01.png)no-repeat;
}
.menu a{
	width:140px;
	height:37px;
	line-height:37px;
	float:left;
	font-size:16px;
	padding:0 0 0 40px;
	color:#000;
	display:block;
}
.menu a{
  background:url(../img/menu.png)no-repeat;
}
.menu .n5 a{
	background:url(../img/menu05.png)no-repeat;
}
.menu .n1 a:hover{
	color:#000;
	background:url(../img/menu1.png)no-repeat;
}
.menu .n2 a:hover{
	background:url(../img/menu02.png)no-repeat;
}
.menu .n3 a:hover{
	background:url(../img/menu03.png)no-repeat;
}
.menu .n4 a:hover{
	background:url(../img/menu04.png)no-repeat;
}
.menu .n5 a:hover{
	background:url(../img/menu5.png)no-repeat;
}
.menu  li div{
	position:absolute;
	top:37px;
	width:173px;
	height:auto;
	z-index:9999;
	padding-top:0;
    left:0;
	padding:0;
    margin:0;
    display:none;
}

 .menu li div ul{
  width:178px;
  float:left;
  padding:0;
  margin:0;
  
} 
.menu .n1  div ul li{
	width:173px;
}
.menu li div ul li{
	height:33px;
	width:178px;
	background:none;
	margin:0;

}
.menu .n1  div ul li a{
	width:133px;
	padding:0 0 0 40px;
}
.menu .prod  div li a {
	height:33px;
	line-height:33px;
	width:138px;
	padding:0 0 0 40px;
	background:url(../img/menuline.png)repeat-x 0 0;
}
.menu .n1 div li a:hover{
	border-left:10px solid #fb7f23;
	color:#fb7f23;
	padding:0 0 0 30px;
}
.menu .prod  div li a:hover{
	background:url(../img/menuline1.png)repeat-x 0 0;
}
.menu .n2 div li a:hover{
   border-left:10px solid #0c94af;
	color:#0c94af;
	padding:0 0 0 30px;
}
.menu .n3 div li a:hover{
   border-left:10px solid #eeb518;
	color:#eeb518;
	padding:0 0 0 30px;
}
.menu .n4 div li a:hover{
   border-left:10px solid #0078c0;
	color:#0078c0;
	padding:0 0 0 30px;
}
.menu .n5 div li a:hover{
   border-left:10px solid #a11918;
	color:#a11918;
	padding:0 0 0 30px;
}
#container{
    overflow:hidden;
	padding:0 31px;
	padding-top:3px;
	/* height:376px; */
	width:936px;
	margin:0 auto;
	background:url(../img/conbg.png)repeat-y;
}
.effect1{
	width:936px;
	height:300px;
	float:left;
	background:url(../img/bannerbg.jpg)no-repeat bottom center;
	position:relative;
}

.sidebar{
	width:174px;
	float:left;
	padding:0 0 20px 30px;
	/* margin:0;
	padding:0; */
}

.sidebar .left_title{
	height:43px;
	background:url(../img/about pic2.jpg)no-repeat;
    color:white;
    line-height:43px;
    text-align:center;
    font-size:18px;
}